<html>
<body>
<h1>Hello World of CHEF</h1>
<h2>HOSTNAME     : <%= node['hostname']%> </h2>
<h2>FQDN         : <%= node['fqdn']%></h2>
<h2>IPADDRESS    : <%= node['ipaddress']%></h2>
<h2>ADMIN        : <%= @firstname  %></h2>
</body>
</html>
